<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806092114986-vlbghamksc2414aqer11ef807upvb3fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806092114986-vlbghamksc2414aqer11ef807upvb3fi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806092114986-8f72e5npbg778qg415c7bmugj80p4n6q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtL2E85EqUFBb2oAlS9kj-QXHDXrvlOXU</string>
	<key>GCM_SENDER_ID</key>
	<string>806092114986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>glacsoftwaresolutions.findprogrammer</string>
	<key>PROJECT_ID</key>
	<string>findprogrammerceti</string>
	<key>STORAGE_BUCKET</key>
	<string>findprogrammerceti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806092114986:ios:af165c9144e0142c</string>
	<key>DATABASE_URL</key>
	<string>https://findprogrammerceti.firebaseio.com</string>
</dict>
</plist>